body {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
}

.content {
	background-image: url("../res/noise/noise.png");
	
	padding: 14px 16px;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
}

/* Text blurb */
.quote {
	font-family: 'Noto-Serif', serif;
	font-size: 28pt;
	text-align: center;
	display: table;
}

.quote .mark {
	opacity: 0.5;
	padding: 0px 20px;
}

.quote .info {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
}

/* General */
.left { float: left; text-align: left; }
.center { margin: auto; text-align: center; }
.right { float: right; text-align: right; }