.navbar {
	color: #FFF;
	background-color: #222;
	
	font-size: 16px;
	font-family: Arial, sans-serif;
	
	opacity: 0.8;
	overflow: hidden;
}

.navbar a {
	color: #FFF;
	background-color: #222;
	
	text-decoration: none;
	
	float: left;
	overflow: hidden;
	padding: 14px 16px;
}

.navbar a:hover {
	background-color: #111;
}

.navbar a.active {
	background-color: #111;
}